In [2]:
import sys
!{sys.executable} -m pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (1.1.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.19.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2020.4)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas

Collecting pandas
  Downloading pandas-1.1.4-cp39-cp39-win_amd64.whl (8.9 MB)
Requirement already satisfied: numpy>=1.15.4 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.19.4)
Collecting pytz>=2017.2
  Downloading pytz-2020.4-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.4 pytz-2020.4

In [4]:
print(pandas.__version__)

1.1.4

In [5]:
import pandas as pd

In [6]:
print(pandas.__version__)

1.1.4

# Questions 2:

How to create a series from a numpy array?

In [7]:
import pandas as pd 
import numpy as np 
  
# numpy array 
data = np.array(['a', 'b', 'c', 'd', 'e']) 
  
# creating series 
s = pd.Series(data) 
print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

# Questions 3:

How to convert the index of a series into a column of a dataframe?

In [8]:
pd.DataFrame(data)

   0
0  a
1  b
2  c
3  d
4  e

#  Questions 4:

Write the code to list all the datasets available in seaborn library.
Load the 'mpg' dataset
Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)

In [11]:
import sys
!{sys.executable} -m pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.0-py3-none-any.whl (283 kB)
Collecting scipy>=1.0
  Downloading scipy-1.5.4-cp39-cp39-win_amd64.whl (31.4 MB)
Requirement already satisfied: numpy>=1.15 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.19.4)
Requirement already satisfied: pandas>=0.23 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from seaborn) (1.1.4)
Collecting matplotlib>=2.2
  Downloading matplotlib-3.3.3-cp39-cp39-win_amd64.whl (8.5 MB)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->seaborn) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from pandas>=0.23->seaborn) (2.8.1)
Collecting pillow>=6.2.0
  Downloading Pillow-8.0.1-cp39-cp39-win_amd64.whl (2.1 MB)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.1-cp39-cp39-win_amd64.whl (51 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->seaborn) (1.15.0)
Installing collected packages: scipy, pillow, cycler, kiwisolver, matplotlib, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.3.1 matplotlib-3.3.3 pillow-8.0.1 scipy-1.5.4 seaborn-0.11.0

In [12]:
import seaborn

Matplotlib is building the font cache; this may take a moment.

In [13]:
import seaborn as sns
print(sns.__version__)

0.11.0

In [17]:

print (sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [18]:
mpg = sns.load_dataset('mpg')

In [19]:
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [20]:
mpg.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

#  Questions 5:

Which country origin cars are a part of this dataset?

In [21]:
mpg['origin'].unique()

array(['usa', 'japan', 'europe'], dtype=object)

# Questions 6:

Extract the part of the dataframe which contains cars belonging to 'usa'

In [25]:
df=pd.DataFrame(mpg)

In [26]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [27]:
df['origin']

0         usa
1         usa
2         usa
3         usa
4         usa
        ...
393       usa
394    europe
395       usa
396       usa
397       usa
Name: origin, Length: 398, dtype: object

In [29]:
df =mpg .loc[mpg['origin'] == 'usa']

In [30]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10